{% extends 'emails/base.html' %}

{% block title %}Password Reset Approved - Dewlon Portal{% endblock %}

{% block header_title %}Password Reset Approved{% endblock %}
{% block header_subtitle %}Your password has been reset by an administrator{% endblock %}

{% block content %}
<h2>Hello {{ first_name }},</h2>

<div class="success-box">
    <p><strong>Good News:</strong> Your password reset request has been approved by an administrator.</p>
</div>

<p>Your password has been reset. Your new temporary password is:</p>

<div class="code-box">
    {{ temporary_password }}
</div>

<p><strong>Important:</strong> You must change this password upon your next login.</p>

<div class="warning-box">
    <p><strong>Next Steps:</strong></p>
    <ol>
        <li>Log in to your account using the temporary password above</li>
        <li>You will be redirected to the password change screen</li>
        <li>Create a new strong password that meets our security requirements</li>
    </ol>
</div>

<a href="{{ login_url }}" class="button">Log In Now</a>

<p>If you did not request this password reset, please contact our support team immediately.</p>

<p>Best regards,<br>The Dewlon Portal Team</p>
{% endblock %}

{% block footer_extra %}
<p>Need help? Contact us at <a href="mailto:support@dewlon.com">support@dewlon.com</a></p>
{% endblock %}